# PlatformIO
.pio/
.vscode/

# Python
__pycache__/
*.pyc

# Generated logs
build_log.txt

# KiCad local / temp files
*-bak
*.kicad_prl
*.lck
*.tmp
*.cache
fp-info-cache
\#auto_saved_files#
*-backups/

# OS files
Thumbs.db
.DS_Store
